.path {
  position: relative;
  width: 10rem;
}

.path_svg {
  width: 100%;
  height: 100%;
}

.path_name {
  color: #ff9d9b;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  transform: rotate(-30deg);
  text-transform: uppercase;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  left: 15%;
  top: 60%;
}

@media (max-width: 1920px) {
  .path_name {
    left: 25%;
    top: 62%;
  }
}
