---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link';
import Current from '../components/Current';
---

<Layout title="Welcome to Astro.">
	<main>
    <Link href="/" name="home"/>
    <Current projectName="test"/>
	</main>
</Layout>

<style>
</style>
