---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link';
import Current from '../components/Current';
import Path from '../components/Path';
import DevWeb from '../components/DevWeb';
import Logo from '../components/Logo';
import SocialMedia from '../components/SocialMedia';
---

<Layout title="Home Portfolio">
  <main>
    <div class="dev-web">
      <DevWeb/>
    </div>
    <Logo/>
    <div>
      <nav class="menu">
        <span class="menu-path">
          <Path pathName="home"/>
        </span>
        <Link href="/" name="WORKS"/>
        <Link href="/" name="ABOUT"/>
        <Link href="/" name="CONTACT"/>
      </nav>
    </div>
    <div class="current">
      <Current projectName="Formation"/>
    </div>
    <div class="social-media">
      <SocialMedia/>
    </div>
  </main>
</Layout>

<style>
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  position: relative;

  .dev-web {
    position: absolute;
    left: 0%;
    top: 2%;
  }

  .current {
    position: absolute;
    top: 0%;
    right: 0%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap:2rem;
    position: relative;
    .menu-path {
      position: absolute;
      left: -8%;
      top: -13%;
    }
  }

  .social-media {
    position: absolute;
    bottom: -15%;
    right: 0%;
  }

  @media (max-width: 1280px) {
    .dev-web {
      position: absolute;
      top: 0;
      left: -10%;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap:2rem;
      position: relative;
      .menu-path {
        position: absolute;
        left: -8%;
        top: -13%;
      }
    }
    .current {
      position: absolute;
      top: 0%;
      right: -10%;
    }

    .social-media {
      position: absolute;
      bottom: -20%;
      right: -10%;
    }
  }
</style>
