---
import Layout from '../../layouts/Layout.astro';
import { db, User, eq } from 'astro:db';

---

<Layout title="Home">
  <form method="POST" action="../api/signup">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Login</button>
  </form>
</Layout>
